joblib==1.2.0
matplotlib==3.5.1
networkx==3.1
numba==0.60.0
numpy==1.24.4
pandas==2.2.3
psutil==5.9.0
py_stringmatching==0.4.3
pyarrow==10.0.1
pydantic==2.11.1
pyspark==3.5.3
scipy==1.15.2
sparkly-em==0.1.0
tqdm==4.64.1
xxhash==3.2.0
